@import url('https://fonts.googleapis.com/css2?family=Playwrite+NG+Modern:wght@100..400&display=swap');


h1{
    font-family: "Playwrite NG Modern", cursive;
    font-size: 4rem;
}
.btn-new:hover{
    background-color: green !important;
}

p{
    font-size: 1.2rem ;
}